<div class="container">
  <h2>Liste des rdv</h2>

  <% @dates.each do |date| %>
    <h2>
      <%= l(date.to_date) %>
    </h2>
    <% appointments_per_date(date).each do |appointment| %>
      <p>
        <%= appointment.user.email %>
      </p>
      <p>
        <%= appointment.start_date.to_date %> |
        <%= appointment.start_date.strftime("%H:%M")  %> > <%= appointment.end_date.strftime("%H:%M") %>
      </p>
      <p>
        <%= appointment.review %> | <%= appointment.rate %>
      </p>
      <hr>
    <% end %>
  <% end %>

</div>
