<div class="container">
  <div class="row">
    <h1>My appointments</h1>

    <% @appointments.each do |appointment| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-content">
          <p>
            <i class="fas fa-calendar-check"></i>
            <%= appointment.start_date.strftime('%d %b %y') %>
            <i class="far fa-clock"></i>
            <%= appointment.start_date.strftime('%H:%M') %>
            >
            <%= appointment.end_date.strftime('%H:%M') %>
          </p>
          <p>
            <%= appointment.appointment_type.name %>
          </p>
          <p>
            <% if !appointment.rate.nil? %>
            <i class="fas fa-star"></i>
              <%= appointment.rate %>

            <% end %>
          </p>
          <p>
            <%= appointment.review %>
          </p>
        </div>

      </div>
    <% end %>
  </div>
</div>
